---
layout: 'base.njk'
---
    <div class="vertical__social">
      <a href="https://www.facebook.com/giorgos.siakavaras.7" class="social"
        target="_blank">facebook</a>
      <a href="https://www.instagram.com/geo_siak/?hl=en" class="social"
        target="_blank">instagram</a>
      <a href="https://gr.linkedin.com/in/giorgos-siakavaras-98b093152" class="social"
        target="_blank">linkedin</a>
    </div>
    <!-- ################################### post  #####################################-->
    <section class="post-container">
      <div class="post">
        <div class="post__image">
          <img src="{{ image }}"
            alt="{{imageAlt}}" />
        </div>
        <div class="post__description perigrafi">
          <h4 class="post__category">{{category}}</h4>
          <h3 class="post__title">{{ title }}</h3>
          <p class="post__text">{{ description }}</p>

        </div>

      </div>
      <div class="post__content">{{ content | safe }}</div>

      {# <div class="post">
        <div class="post__description perigrafi">
          <h3 class="post__title">Κεφίρ</h3>
          <p class="post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Blanditiis,
            qui.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Blanditiis, qui.Lorem ipsum
            dolor
            sit amet, consectetur adipisicing elit.Blanditiis, qui.Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.Blanditiis, qui.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.Blanditiis, qui.</p>
        </div>
        <div class="post__image">
          <img src="{{ image }}"
            alt="project1" />
        </div>
      </div>
      <section class="post__gallery">
        <div class="post__gallery-image">
          <img src="{{ image }}"
            alt="project1" />
        </div>
        <div class="post__gallery-image">
          <img src="{{ image }}"
            alt="project1" />
        </div>
      </section>
      <div class="post__gallery-image">
          <img src="{{ image }}"
            alt="project1" />
      </div> #}



    </section>


