---
title: Projects
layout: 'base.njk'
---

<div class="vertical__social">
  <a href="https://www.facebook.com/giorgos.siakavaras.7" class="social"
    target="_blank">facebook</a>
  <a href="https://www.instagram.com/geo_siak/?hl=en" class="social" target="_blank">instagram</a>
  <a href="https://gr.linkedin.com/in/giorgos-siakavaras-98b093152" class="social"
    target="_blank">linkedin</a>
</div>

<!-- ################################### projects  #####################################-->

<section class="projects__categories">
  <ul>
    <li class="project__category"><a href="/logofolio">LOGOFOLIO</a></li>
    <li class="project__category"><a href="/posterfolio">POSTERFOLIO</a></li>
    <li class="project__category"><a href="/packaging">PACKAGING</a></li>
    <li class="project__category"><a href="/brand-identity">BRAND IDENTITY</a></li>
    <li class="project__category"><a href="/illustration">ILLUSTRATION</a></li>
  </ul>

</section>

<!--############################ contact ###################################-->